/.idea
/.vscode
/vendor
/node_modules
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
composer.lock
package-lock.json
phpunit.xml
testbench.yaml
.DS_Store
Thumbs.db
/coverage
/build
/dist 
